# Task 2: Recommendation Engine - Skeleton Notebook

This notebook provides a very basic example for the notebook you are expected to submit for Task 2 of the Final Project. The main purpose is that we can try different examples to get a better sense of your approach. Compared to Task 1 (Kaggle Competition), we don't have any objective means to evaluate the recommendations. 

Some general comments:
* You can import any data you need. This particularly includes your cleaned version of the properties dataset (incl. the auxiliary data or any other data you might have collected); there's no need to show the data cleaning / preprocessing steps in this notebook.
* You can also import your code in form of external Python (.py) script. You're actually encouraged to do so to keep this notebook light and uncluttered.
* **Important:** Please consider this notebook as an example and not to set specific requirements. Your notebook is likely to look very different. As long there is a section where we can easily test your solution, it should be fine.

## Setting up the Notebook

In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

from dataloader import read_csv
from preprocessing import preprocess_data_for_classification

## Load the Data

For this example, we use a simplified version of the dataset with only 2k+ data samples, each with only a subset of features.

In [4]:
trainX, trainY = read_csv('data/train.csv', ylabel='price')
testX, _ = read_csv('data/test.csv')

trainX, trainY, testX = preprocess_data_for_classification(trainX, trainY, testX)
df_sample = trainX

df_sample.head()

Training Data Shape :  (20122, 25)

,property_type,built_year,num_beds,num_baths,size_sqft,lat,lng,subzone,planning_area,tenure_nan,...,tenure_103-year leasehold,tenure_956-year leasehold,tenure_929-year leasehold,tenure_102-year leasehold,tenure_100-year leasehold,tenure_947-year leasehold,furnishing_unspecified,furnishing_partial,furnishing_unfurnished,furnishing_fully
0,6.828217e+05,1988.0,3.0,2.0,1115.0,1.414399,103.837196,6.719120e+05,1.124002e+06,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,6.636575e+05,1992.0,4.0,2.0,1575.0,1.372597,103.875625,1.623506e+06,3.698820e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2.936166e+06,2022.0,4.0,6.0,3070.0,1.298773,103.895798,4.936251e+06,4.166730e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2.936166e+06,2023.0,3.0,2.0,958.0,1.312364,103.803271,2.750650e+06,5.653630e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2.936166e+06,2026.0,2.0,1.0,732.0,1.273959,103.843635,3.341467e+06,4.843187e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Computing the Top Recommendations

The method `get_top_recommendations()` shows an example of how to get the top recommendations for a given data sample (data sample = row in the dataframe of the dataset). The input is a row from the dataset and a list of optional input parameters which will depend on your approach; `k` is the number of returned recommendations seems useful, though.

The output should be a `pd.DataFrame` containing the recommendations. The output dataframe should have the same columns as the row + any additional columns you deem important (e.g., any score or tags that you might want to add to your recommendations).

In principle, the method `get_top_recommendations()` may be imported from a external Python (.py) script as well.

In [5]:
def get_top_recommendations(row, **kwargs) -> pd.DataFrame:
    
    #####################################################
    ## Initialize the required parameters
    
    # The number of recommendations seem recommended
    # Additional input parameters are up to you
    k = None
    
    # Extract all **kwargs input parameters
    # and set the used paramaters (here: k)
    for key, value in kwargs.items():
        if key == 'k':
            k = value
            
       
    #####################################################
    ## Compute your recommendations
    #
    # This is where your magic happens. Of course, you can call methods
    # defined in this notebook or in external Python (.py) scripts
    #
        
    # Here, we just return the input row k times
    # Ideally, you recommendations will be much better
    df_result = pd.DataFrame([row] * k, index=None)
        
    # Return the dataset with the k recommendations
    return df_result

## Testing the Recommendation Engine

This will be the main part of your notebook to allow for testing your solutions. Most basically, for a given listing (defined by the row id in your input dataframe), we would like to see the recommendations you make. So however you set up your notebook, it should have at least a comparable section that will allow us to run your solution for different inputs.

### Pick a Sample Listing as Input

In [7]:
# Pick a row id of choice
row_id = 10
#row_id = 20
#row_id = 30
#row_id = 40
#row_id = 50

# Get the row from the dataframe (an valid row ids will throw an error)
row = df_sample.iloc[row_id]

# Just for printing it nicely, we create a new dataframe from this single row
pd.DataFrame([row])

,property_type,built_year,num_beds,num_baths,size_sqft,lat,lng,subzone,planning_area,tenure_nan,...,tenure_103-year leasehold,tenure_956-year leasehold,tenure_929-year leasehold,tenure_102-year leasehold,tenure_100-year leasehold,tenure_947-year leasehold,furnishing_unspecified,furnishing_partial,furnishing_unfurnished,furnishing_fully
10,2.936166e+06,1985.0,2.0,3.0,1733.0,1.322153,103.945223,2.206709e+06,3.132062e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Compute and Display the recommendations

Since the method `get_top_recommendations()` returns a `pd.DataFrame`, it's easy to display the result.

In [8]:
k = 3

df_recommendations = get_top_recommendations(row, k=k)

df_recommendations.head(k)

,property_type,built_year,num_beds,num_baths,size_sqft,lat,lng,subzone,planning_area,tenure_nan,...,tenure_103-year leasehold,tenure_956-year leasehold,tenure_929-year leasehold,tenure_102-year leasehold,tenure_100-year leasehold,tenure_947-year leasehold,furnishing_unspecified,furnishing_partial,furnishing_unfurnished,furnishing_fully
10,2.936166e+06,1985.0,2.0,3.0,1733.0,1.322153,103.945223,2.206709e+06,3.132062e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,2.936166e+06,1985.0,2.0,3.0,1733.0,1.322153,103.945223,2.206709e+06,3.132062e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,2.936166e+06,1985.0,2.0,3.0,1733.0,1.322153,103.945223,2.206709e+06,3.132062e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0